<a href="https://colab.research.google.com/github/ngaruniki/Data_study_work/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

some of the key takeaways from the course

**Objectives:**


*   List popular languages for Data Science
*   List of data science development environments
*   List of data science libraries
*   Sample of Arithmentic expression in python

Some of the popular languages that Data Scientists use are:

1.   Python

1.   R

1.   Java
2.   Julia

5.   C++

Some of the commonly used libraries used by Data Scientists include:


1. TensorFlow.
2. PyTorch.
3. NumPy.
4. SciPy.
5. Pandas.
6. Matplotlib.
7. Keras.
8. SciKit-Learn.

| Data Science Tools|
| --- |
| Jupyter Notebooks  |
| R Studio |
| Zeppelin Notebooks  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
y=(3*4)+5
print("answer is ", y)

answer is  17

In [3]:
#minutes to hours
y=200/60
print("200 hours converted to minutes is ", y, "hours")

200 hours converted to minutes is  3.3333333333333335 hours

## Author
Name: Patrick Kinyua Gikunda